<!-- eslint-disable -->
<main class="flexContentColumn24">
  <div class="main_component">
    <div class="head flexContentColumn8">
      <h1 *ngIf="!title">
        {{ "offer-management.resultRejectedApplications" | translate }}
      </h1>
      <h1 *ngIf="title">{{ title }}</h1>

      <div class="flexContent8">
        <div
          *ngIf="session"
          class="session-stage d-flex ai-c font-s12"
          [ngClass]="session.stageId | stageColor"
        >
          {{ nameSessionStage }}
        </div>

        <div *ngIf="session" class="flexContent16 h-24px session">
          <span class="date-roboto-mono"
            >{{ "filters.session" | translate }}
            {{ session.startDateTime | date : "dd.MM.yyyy" : "+0000" }}</span
          >
          <span class="date-roboto-mono">№{{ session.id }}</span>
          <span class="overflowText">{{ session.sessionName }}</span>
        </div>
      </div>
    </div>
  </div>

  <dx-data-grid
    id="gridContainer"
    [dataSource]="outputArray"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [width]="1200"
  >
    <dxo-state-storing
      [enabled]="true"
      type="localStorage"
      storageKey="deteailRejectionOrdermanagment"
    >
    </dxo-state-storing>

    <!-- style="table-layout: fixed; width: 50%" -->
    <dxi-column
      caption="{{ 'catalogs.lot' | translate }}"
      dataField="lotNumber"
      cssClass="column text-align-left"
      width="auto"
      cellTemplate="lotNumber"
    >
    </dxi-column>

    <div *dxTemplate="let item of 'lotNumber'">
      <a (click)="openViewOffer(item.data.idOffer, item.data.direction)">{{
        item.data.lotNumber
      }}</a>
    </div>

    <dxi-column
      caption="{{ 'worker.registration.participantBranch' | translate }}"
      dataField="firmBranchName"
      cssClass="column text-align-left"
      width="auto"
    >
    </dxi-column>

    <dxi-column
      caption="{{ 'worker.registration.contractType' | translate }}"
      dataField="clientContractTypeName"
      cssClass="column text-align-left"
      width="auto"
    >
    </dxi-column>

    <dxi-column
      caption="{{ 'worker.registration.client' | translate }}"
      dataField="clientName"
      cssClass="column text-align-left"
      width="auto"
    >
    </dxi-column>

    <dxi-column
      caption="{{ 'worker.registration.clientBranch' | translate }}"
      dataField="clientBranchName"
      cssClass="column text-align-left"
      width="auto"
    >
    </dxi-column>

    <dxi-column
      caption="{{ 'worker.registration.trader' | translate }}"
      dataField="traderName"
      cssClass="column text-align-left"
      width="auto"
    >
    </dxi-column>

    <dxi-column
      caption="{{ 'worker.errorReason' | translate }}"
      cssClass="column text-align-left"
      width="auto"
      cellTemplate="resultTemplate"
      minWidth="200"
    >
    </dxi-column>
    <!--  dataField="description"-->
    <div *dxTemplate="let item of 'resultTemplate'">
      <span>{{
        item.data.result
          ? ("worker.successfully" | translate)
          : item.data.description
      }}</span>
    </div>
  </dx-data-grid>
</main>
