<!-- eslint-disable -->
<div class="goodInfo flexContentColumn16">
  <div class="name flexContent16 jc-sb ai-c">
    <span class="name flexContent16 ai-c">
      <label>{{ replaceGood.goodName || good.name }}</label>
      <a *ngIf="isCanEditCharacteristics" class="font-s14" (click)="editGoodCharacteristics(good)" >{{ "btns.edit" | translate }}</a>
    </span>
    <a class="font-s14" (click)="clearForm()">{{ 'general.clearFields' | translate }}</a>
  </div>

  <form [formGroup]="goodForm">

    <dx-validation-group class="form w-100">


      <div class="block flexContentColumn24">
        <div class="properties" *ngIf="!good.characteristicsNSI">
      <span *ngFor="let prop of replaceGood.properties?.length > 0 ? replaceGood.properties : good.properties">
          <span class="propName"> {{ prop.propertyName }}</span>
          <span> {{ prop.propertyValue }}.</span>
      </span>
          <a (click)="openSidebar(good)"> {{ 'btns.moreDetails' | translate }}</a>
        </div>

        <div class="properties" *ngIf="good.characteristicsNSI">
      <span *ngFor="let prop of replaceGood.properties?.length > 0 ? replaceGood.properties : good.properties">
          <span class="propName"> {{ prop.propertyName }}</span>
           <span *ngIf="!prop.propertyValue ||prop.propertyValue?.length ==0"> {{ 'createOffer.any' | translate }}
             .</span>
                                <span *ngIf="prop.propertyValue?.length > 0">
                                  <span *ngFor=" let val of prop.propertyValue; let i= index">
                                   {{ val }}<span *ngIf="i != prop.propertyValue?.length -1">,</span>
                                </span>
                                <span *ngIf="prop.isAllowAnalogs">, {{ 'createOffer.others' | translate }}</span>
                                <span>.</span>
                                </span>
      </span>
        </div>


        <div *ngFor="let fieldGroup of modelFieldsGroup; let iFieldGroup= index">
          <div class="flexContent16 contentFlex flex-start">
            <ng-container *ngFor="let m of fieldGroup[GOODS_FIELDS_BLOCK.FIELD_INFO]">
              <div *ngIf="m.interfaceField.fieldId" class="item"
                 [ngClass]="{'addCond' : m.interfaceField.controlFieldType == 'dxTextBox' && m.interfaceField.fieldSize > 1000}">
          <!--фактические размеры могут быть разных типов данных, в зависимости от стандартизированных характеристик-->
              <div class="form-group" *ngIf="isActualDimensions(m.interfaceField.fieldId)">
                <app-actual-dimensions
                  [interfaceField]="m"
                  [user]="user"
                  [goodForm]="goodForm"
                  [good]="good"
                  [demandsModal]="demandsModal"
                  [filledFields]="filledFields"
                  [goodsList]="goodsList"
                  [goodInfo]="goodInfo"
                  [direction]="direction"
                  [standartdizeProps]="standartdizeProps"
                  [readinessDataSource]="getReadinessDataSource"
                >
                </app-actual-dimensions>
              </div>

              <div class="form-group" *ngIf="m.interfaceField.controlFieldType == 'dxNumberBox'">
                <label>{{ m.interfaceField.fieldName }}</label>
                <div class="flexContentColumn4 number-style">
                  <dx-number-box
                    dxNumberBoxClear
                    placeholder="0{{m.interfaceField.fieldPrecision == 2 ? '.00' : m.interfaceField.fieldPrecision == 3  ? '.000' : m.interfaceField.fieldPrecision == 4  ? '.0000' : '' }}"
                    height="40px"
                    [min]="m.interfaceField.fieldId == 54 && this.goodForm?.get('53')?.value == 1 ? null : 0"
                    [max]="modelsResult.type === 'editAuctionOffer' && m.interfaceField.fieldId === ID_INTERFACE_FIELD.QUANTITY ? good.maxQuantity : null"
                    (onKeyDown)="!m.isRequired ? onKeyDown($event, m) : null"
                    [value]="m.selectedValues"
                    formControlName="{{m.interfaceField.fieldId}}"
                    (onValueChanged)="demandsModal?.pricingTypeId != pricingType?.formulaWithoutQuotation && (m.interfaceField.fieldId === ID_INTERFACE_FIELD.QUANTITY || m.interfaceField.fieldId === ID_INTERFACE_FIELD.PRICE_WITHOUT_VAT) ? vatCalculator() :
                              (demandsModal?.pricingTypeId == pricingType?.formulaWithQuotation && (m.interfaceField.fieldId === ID_INTERFACE_FIELD.AMENDMENT || m.interfaceField.fieldId === ID_INTERFACE_FIELD.QUOTATION)) ? priceCalculator() : null"
                    class="date-roboto-mono"
                    [disabled]="m.interfaceField.fieldId === ID_INTERFACE_FIELD.PRICE_WITHOUT_VAT && demandsModal.pricingTypeId == pricingType?.formulaWithQuotation"
                    valueChangeEvent="input"
                  >
                    <dxo-format
                      type="fixedPoint"
                      [precision]="m.interfaceField.fieldPrecision">
                    </dxo-format>
                    <!--   точность числа          m.interfaceField.fieldDataType == 'TCURRENCY' ? fieldPrecision(m.interfaceField.fieldId, m.interfaceField.fieldDataType) :-->
                    <!--  валюта заявки для поля поправки-->
                    <dxo-format
                      *ngIf="this.goodForm?.get('53')?.value && m.interfaceField.fieldId == ID_INTERFACE_FIELD.AMENDMENT && demandsModal?.pricingTypeId != pricingType?.price"
                      [type]="formatType"
                    >
                    </dxo-format>
                    <dx-validator>
                      <dxi-validation-rule *ngIf="m.isRequired"
                                           type="required"
                      ></dxi-validation-rule>
                      <!--размерность поля-->
                      <dxi-validation-rule
                        *ngIf="this.goodForm?.get(m.interfaceField.fieldId.toString())?.value"
                        type="stringLength"
                        [max]="m.interfaceField.fieldSize"
                        message="{{'errors.fieldSize' | translate}}"
                      ></dxi-validation-rule>
                      <!--поле не ноль (кроме поля поправка) -->
                      <dxi-validation-rule
                        *ngIf="isValidateRuleVisible(m)"
                        type="compare"
                        [comparisonType]="'!='"
                        [comparisonTarget]="zeroComparison"
                        message="{{'errors.null' | translate}}"
                      ></dxi-validation-rule>
                      <!--поле не отрицательное (кроме поля поправка в процентном значении)-->
                      <dxi-validation-rule
                        *ngIf="isValidateRuleVisible(m)"
                        type="compare"
                        [comparisonType]="'>'"
                        [comparisonTarget]="zeroComparison"
                        message="{{'errors.positive' | translate}}"
                      ></dxi-validation-rule>

                      <!--поле Цена без НДС, если есть Мин. цена (торги на понижение) -->
                      <dxi-validation-rule
                        *ngIf="(m.interfaceField.fieldId === ID_INTERFACE_FIELD.PRICE_WITHOUT_VAT) && this.goodForm?.get('9')?.value && this.demandsModal.tradeTypeId == 2 && this.direction == 1"
                        type="compare"
                        [comparisonType]="'>='"
                        [comparisonTarget]="minPriceComparison"
                        message="{{ 'createOffer.priceMustNotBeLessThanMinimum' | translate }}"
                      ></dxi-validation-rule>

                    </dx-validator>
                  </dx-number-box>
                  <div *ngIf="!m.isRequired" class="optinalField">{{ 'general.optionalField' | translate }}</div>
                </div>
              </div>


              <div class="form-group"
                   *ngIf="m.interfaceField.controlFieldType == 'dxSelectBox' && !m.interfaceField.isAvailableMultiSelection">
                <label>{{ m.interfaceField.fieldName }}</label>

                <div class="flexContentColumn4" *ngIf="m.interfaceField.isAvailableFreeInput">
                  <dx-drop-down-box
                    formControlName="{{m.interfaceField.fieldId}}"
                    placeholder="{{'filters.enterTextOrSelection' | translate}}"
                    [acceptCustomValue]="true"
                    (onInitialized)="initDropDownBox(m)"
                    [(opened)]="isDropDownOpened"
                    [maxLength]="m.interfaceField.fieldSize"
                    [value]="m.selectedValue"
                    [showClearButton]="!m.isRequired"
                    (onValueChanged)="clearValueNull($event, m.interfaceField.fieldId)"
                    (onOpened)="onOpened(m.interfaceField.fieldId, m.filterDataSource)"
                    height="40px"
                    displayExpr="name">

                    <div *dxTemplate="let data of 'content'" class="list-dropdown-content flexContentColumn12">
                      <div class="search-section">
                        <dx-text-box
                          placeholder="{{ 'filters.searchLabel' | translate }}"
                          (onInitialized)="m.filterDataSource = m.dataSource"
                          (onValueChanged)="onSearch($event, m)"
                          valueChangeEvent="input"
                          [showClearButton]="true">
                        </dx-text-box>
                      </div>

                      <dx-list
                        height="300"
                        [dataSource]="m.filterDataSource"
                        displayExpr="name"
                        keyExpr="id"
                        [searchEnabled]="false"
                        [selectedItemKeys]="selectedItemKeys"
                        selectionMode="single"
                        (onSelectionChanged)="selectionChangeInUserInputComponent($event, m.interfaceField.fieldId)"
                        [pageLoadMode]="'scrollBottom'"
                        [nextButtonText]="''"
                        [scrollByContent]="false"
                        [useNativeScrolling]="true"
                        [showScrollbar]="'always'">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <div *dxTemplate="let item of 'item'">
                          <div>{{ item.name }}</div>
                        </div>

                      </dx-list>
                    </div>
                    <dx-validator *ngIf="m.isRequired">
                      <dxi-validation-rule
                        type="required"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-drop-down-box>
                  <div *ngIf="!m.isRequired" class="optinalField">{{ 'general.optionalField' | translate }}</div>
                </div>

                <div class="flexContentColumn4" *ngIf="!m.interfaceField.isAvailableFreeInput">
                  <dx-select-box
                    [dataSource]="m.dataSource ? m.dataSource : getDataSourceSelectBox(m)"
                    displayExpr="name"
                    valueExpr="id"
                    height="40px"
                    placeholder="{{'filters.selection' | translate}}"
                    [searchEnabled]="true"
                    [showClearButton]="!m.isRequired"
                    [value]="m.selectedValues"
                    formControlName="{{m.interfaceField.fieldId}}"
                    [disabled]="(m.interfaceField.fieldId == 4 || m.interfaceField.fieldId == 5 || m.interfaceField.fieldId == 55 || m.interfaceField.fieldId == 11 || m.interfaceField.fieldId == 53) && filledFields"
                    (onValueChanged)="onChangePrecision(m.interfaceField.fieldId); demandsModal?.pricingTypeId != pricingType?.formulaWithoutQuotation && m.interfaceField.fieldId === ID_INTERFACE_FIELD.VAT_RATE ? vatCalculator() :
              demandsModal?.pricingTypeId == pricingType?.formulaWithQuotation && (m.interfaceField.fieldId === ID_INTERFACE_FIELD.AMENDMENT_TYPE || m.interfaceField.fieldId === ID_INTERFACE_FIELD.QUOTE_CURRENCY || m.interfaceField.fieldId === ID_INTERFACE_FIELD.CURRENCY) ? priceCalculator() :
              demandsModal?.pricingTypeId == pricingType?.formulaWithoutQuotation && (m.interfaceField.fieldId === ID_INTERFACE_FIELD.AMENDMENT_TYPE || m.interfaceField.fieldId === ID_INTERFACE_FIELD.CURRENCY) ? changeCurrency() : m.interfaceField.fieldId === ID_INTERFACE_FIELD.PRODUCT_READINESS ? clearField() : null"
                  >
                    <dx-validator *ngIf="m.isRequired">
                      <dxi-validation-rule
                        type="required"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-select-box>
                  <div *ngIf="!m.isRequired" class="optinalField">{{ 'general.optionalField' | translate }}</div>
                </div>
              </div>

              <div class="form-group"
                   *ngIf="m.interfaceField.controlFieldType == 'dxSelectBox' && m.interfaceField.isAvailableMultiSelection">
                <label>{{ m.interfaceField.fieldName }}</label>
                <div class="flexContentColumn4">
                  <dx-tag-box
                    [dataSource]="m.dataSource ? m.dataSource : getDataSourceSelectBox(m)"
                    displayExpr="name"
                    valueExpr="id"
                    height="40px"
                    placeholder="{{'filters.selection' | translate}}"
                    [searchEnabled]="true"
                    [showClearButton]="!m.isRequired"
                    [value]="m.selectedValues"
                    formControlName="{{m.interfaceField.fieldId}}"
                    [showSelectionControls]="true"
                    [showDropDownButton]="true"
                    [maxDisplayedTags]="1"
                    (onValueChanged)="clearValueNull($event)"
                  >
                    <dx-validator *ngIf="m.isRequired">
                      <dxi-validation-rule
                        type="required"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-tag-box>
                  <div *ngIf="!m.isRequired" class="optinalField">{{ 'general.optionalField' | translate }}</div>
                </div>
              </div>


              <div class="flexContent8 form-group ai-c" *ngIf="m.interfaceField.controlFieldType == 'dxCheckBox'">
                <dx-check-box
                  (onInitialized)="checkboxIdElement(m.interfaceField.fieldId)"
                  text="{{m.interfaceField.fieldName}}"
                  iconSize="20px"
                  height="40px"
                  formControlName="{{m.interfaceField.fieldId}}"
                  [disabled]="m.interfaceField.fieldId == ID_INTERFACE_FIELD.ADJUSTED_PRICE && filledFields"
                >
                </dx-check-box>
                <div *ngIf="m.interfaceField.fieldId == ID_INTERFACE_FIELD.ADJUSTED_PRICE"
                     class="moreIcon"
                     id="adjustedPrice">
                  <dx-tooltip
                    target="#adjustedPrice"
                    [showEvent]="{name: 'mouseenter', delay: 500}"
                    hideEvent="mouseleave"
                  >
                    <div
                      *dxTemplate="let tooltip = data; of: 'content'">{{ 'createOffer.goodInfo.adjustedPriceInfo' | translate }}
                    </div>
                  </dx-tooltip>
                </div>
              </div>


              <div class="form-group"
                   *ngIf="m.interfaceField.controlFieldType == 'dxTextBox' && m.interfaceField.fieldSize < 1000 && ![40, 57, 58, 59].includes(m.interfaceField.fieldId)">
                <label>{{ m.interfaceField.fieldName }}</label>
                <div class="flexContentColumn4">
                  <dx-text-box
                    height="40px"
                    placeholder="{{'general.text' | translate}}"
                    [value]="m.selectedValues"
                    formControlName="{{m.interfaceField.fieldId}}"
                    (onValueChanged)="clearValueNull($event, m.interfaceField.fieldId)"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        *ngIf="m.isRequired"
                        type="required"
                      ></dxi-validation-rule>

                      <!--поле состав насаждений -->
                      <dxi-validation-rule
                        *ngIf="(m.interfaceField.fieldId == 18)"
                        type="custom"
                        [validationCallback]="validateWoodName"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                  <div *ngIf="!m.isRequired" class="optinalField">{{ 'general.optionalField' | translate }}</div>
                </div>
              </div>


              <div class="form-group"
                   *ngIf="m.interfaceField.controlFieldType == 'dxTextBox' && m.interfaceField.fieldSize > 1000">
                <div class="flexContent20">
                  <label>{{ m.interfaceField.fieldName }}</label>
                  <div>{{ this.goodForm.controls[m.interfaceField.fieldId]?.value ? this.goodForm.controls[m.interfaceField.fieldId]?.value.length : 0 }}
                    /{{ m.interfaceField.fieldSize }}
                  </div>
                </div>
                <div class="flexContentColumn4">
                  <dx-text-area
                    height="124px"
                    [maxLength]="m.interfaceField.fieldSize"
                    placeholder="{{'general.text' | translate}}"
                    [value]="m.selectedValues"
                    formControlName="{{m.interfaceField.fieldId}}"
                    valueChangeEvent="keyup"
                    (onValueChanged)="clearValueNull($event)"
                  >
                    <dx-validator *ngIf="m.isRequired">
                      <dxi-validation-rule
                        type="required"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-area>
                  <div *ngIf="!m.isRequired" class="optinalField">{{ 'general.optionalField' | translate }}</div>
                </div>
              </div>

            </div>
            </ng-container>

            <div *ngIf="fieldGroup[GOODS_FIELDS_BLOCK.ID_BLOCK] === BLOCK_ID_FIELDS.PRICE_BLOCK && costBlock" class="flexContent16 contentFlex w-100 costBlock">

              <div class="item">
                <div class="form-group number-style">
                  <label>{{ 'createOffer.total.costNoVAT' | translate }}</label>
                  <div>
                    <dx-number-box
                      [disabled]="true"
                      placeholder="0"
                      formControlName="costNoVAT"
                      height="40px"
                      class="date-roboto-mono"
                    >
                      <dxo-format
                        type="fixedPoint"
                        [precision]="pricePrecision">
                      </dxo-format>
                    </dx-number-box>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="form-group number-style">
                  <label>{{ 'createOffer.total.amountVAT' | translate }}</label>
                  <div>
                    <dx-number-box
                      [disabled]="true"
                      placeholder="0"
                      formControlName="amountVAT"
                      height="40px"
                      class="date-roboto-mono"
                    >
                      <dxo-format
                        type="fixedPoint"
                        [precision]="pricePrecision">
                      </dxo-format>
                    </dx-number-box>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="form-group number-style">
                  <label>{{ 'createOffer.total.costVAT' | translate }}</label>
                  <div>
                    <dx-number-box
                      [disabled]="true"
                      placeholder="0"
                      formControlName="costVAT"
                      height="40px"
                      class="date-roboto-mono"
                    >
                      <dxo-format
                        type="fixedPoint"
                        [precision]="pricePrecision">
                      </dxo-format>
                    </dx-number-box>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <hr *ngIf="iFieldGroup != modelFieldsGroup.length -1" class="w100 mt-4">
        </div>

      </div>

      <div class="flexContent16 buttonsClass jc-end mt-4">
        <!--  <button *ngIf="goodInfo" class="btn btn-outline-primary submit" (click)="OnDelete()">{{'btns.deleteItem' | translate}}</button>-->
        <dx-button (onClick)="onSave($event)">
          <button class="btn btn-primary  w-194px">{{ 'btns.save' | translate }}</button>
        </dx-button>
        <button class="btn btn-outline-primary" [ngClass]="{'w-155px' : !goodInfo}"
                (click)="OnClose()">{{ goodInfo ? ('btns.cancelEdit' | translate) : ('btns.close' | translate) }}
        </button>
      </div>


    </dx-validation-group>
  </form>

</div>


<dx-popup
  id="error"
  contentTemplate="errorContent"
  [(visible)]="error"
  [hideOnOutsideClick]="false"
  [showTitle]="true"
  title="{{ 'errors.error' | translate }}"
  maxWidth="450px"
  height="auto"
  (onHidden)="error = false"
  [showCloseButton]="true">
  <dxo-animation [show]="{easing: 'ease-in-out', type:'fadeIn', duration: 150}"></dxo-animation>
  <div *dxTemplate="let data of 'errorContent'">
    <div class="borderRed errorPopup">
      <i class="errorIcon"></i>
      <div [innerHTML]="this.messageError"></div>
    </div>
  </div>
</dx-popup>

<ceit-remove-adjusted-price
  *ngIf="removeAdjustedPricePopup"
  (result)="onResultFromRemoveAdjustedPrice($event)"
>
</ceit-remove-adjusted-price>


<dx-toast
  [(visible)]="isVisibleToast"
  [type]="'success'"
  [width]="290"
  [height]="52"
  [displayTime]="5000"
>
  <div *dxTemplate="let data of 'content'">
    <div class="flexContent16">
      <i class="checkIcon"></i>
      <div class="l-h20">{{ "createOffer.good.goodSuccessfullyReplaced" | translate }}</div>
    </div>
  </div>
  <dxo-position
    my="top right"
    at="right top"
    of="window"
    offset="-23 50"
  ></dxo-position>
</dx-toast>
