/* eslint-disable */
@import 'src/assets/scss/_variables.scss';

.accordion {
  ::ng-deep.dx-datagrid-total-footer > .dx-datagrid-content {
    padding: 0;
  }

  ::ng-deep.dx-accordion-item-opened > .dx-accordion-item-title{
    border-bottom: 1px solid $lightGrayBackgroundColorButton;
  }
}



.basisTable {
  ::ng-deep.dx-datagrid-content .dx-datagrid-table .dx-row > td:last-child {
    border-right: none !important;
  }

  ::ng-deep.dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child {
    border-left: none !important;
  }
}

.twostrings {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

::ng-deep.dx-texteditor.dx-state-readonly{
  border-style: none;
}

.edit-price-step-popup {
  // не обрезать часть сообщения в ячейке с input полем
  ::ng-deep .dx-datagrid-rowsview .dx-row > td:has(.dx-texteditor-input),
  // не обрезать часть сообщения за границей строки
  ::ng-deep .dx-datagrid-rowsview,
  // не обрезать часть сообщения за границей таблицы
  ::ng-deep .dx-accordion-item,
  // не обрезать часть сообщения за границей итоговой суммы
  ::ng-deep .dx-accordion-item-body {
    overflow: visible !important;
  }
}
