/* eslint-disable */
@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_constants.scss';

.dark{
  display: none;
}

.dark_opened{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1450;
  opacity: 0.5;
  background: #000;
}

.dark_opened_Template{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1510;
  opacity: 0.5;
  background: #000;
}

.zIndexSideBar{

}

.sidebar {
  height: 100vh;
  width: 1000px;
  position: fixed;
  z-index: 1500;
  top: 0;
  right: -2000px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  opacity: 0;

  .header {
      padding: 16px 32px;
      border-bottom:  1px solid $borderColor;

      span{
        font-size: 16px;
        font-weight: 500;
      }
    }


    .content{
      padding: 24px 32px;

      .main_field{
        display: flex;
        flex-direction: column;
        padding: 16px;
        border:  1px solid $lightGrayBackgroundColorButton;
        border-radius: 2px;

        .title{
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 16px;
        }

        .field {
          display: flex;
          width: 100%;
          margin-bottom: 8px;

          &:last-child{
            margin-bottom: 0;
          }

          .name{
            width: 40%;

            span{
              color: $secondTextColor;
            }
          }

          .info{
            width: 60%;

            span {
              color: $mainTextColor;
            }
          }
        }
      }
      .editButton {
        position: absolute;
        right: 32px;
        z-index: 10;

        .editIcon {
          content: url("~src/assets/img/action_icons/green_edit.svg");
          padding-right: 4px;
        }
      }

      .sidebarContent {
        ::ng-deep.dx-datagrid-content .dx-datagrid-table{
          border-collapse: collapse!important;
        }

        ::ng-deep.dx-datagrid-total-footer > .dx-datagrid-content{
          padding: 0;
        }
        ::ng-deep.dx-datagrid-group-opened::before{
          content: none;
        }
        ::ng-deep.dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused){
          background-color: transparent;
          color: $columnNameTextColor;
          line-height: 20px;
        }

        ::ng-deep.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-expand{
          min-width: 0px!important;
          width: 0px!important;
          pointer-events: none;
        }

        }

      .viewChooseOffer{
        padding: 12px 0;
        border-bottom: 1px solid #E0E0E0;
        cursor: pointer;
        color:$mainTextColor;
      }

      .viewChooseOffer:hover{
        color: $mainActiveColor;
      }

    }
  }
