/* eslint-disable */
@import 'src/assets/scss/_variables.scss';

.errorPage{
  text-align: center;
  margin-top: 84px;

  .image{
    max-height: 215px;
  }

  .info{

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 656px;
    margin: 48px auto 0;

    .head{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      margin: 0;
    }

    .sub_text{
      margin: 0;
      color: $secondTextColor;
    }
  }
}
